/* for description scrollbar */
.code-container {
        width: 100%; /* Adjust width as needed */
        height: 110px; /* Adjust height as needed */
        overflow: auto; /* This creates the scrollbar */
        padding: 1px;
        font-family: monospace; /* Ensures monospaced font */
     }
     
      /*for no course message*/
      .search-course{
	color: red;
	padding: 1px;
	width: 100%;
	align-items: center;
	text-align: center;
	font-size: 20px;
}
list-inline-item{
	font-size: 14px;
}