body {
	font-family: "Lato", sans-serif;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #213555;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	z-index: 9999;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
}

.title {
	padding: 8px 8px 8px 32px;
	color: #ffc107;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.unit-container {
	padding: 30px;
	width: 70%;
}

.common {
	margin: 30px 0;
}

.btnCheck, .answer-status {
	margin: 15px 0;
}

.correct-text {
	color: #00ff01;
}

#quiz-error {
	color: red;
}

.quiz-info {
	background-color: #ffc107;
	color: #213555;
}

.main-container {
	margin-top: 120px;
}

.navOpen {
	position: fixed;
	z-index: 9999;
	top: 32px;
	left: 32px;
}

.common-btn {
	color: #FFBC3B;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}