.white-box .box-title {
    font-weight: 700;
    line-height: 30px;
    font-size: 14px;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.ms-auto {
    margin-left: auto !important;
}

.list-inline .counter {
    font-size: 19px;
    font-weight: 500;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

